.widget-large {
  flex: 2;
  box-shadow: 0px 0px 30px -4px rgba(53, 171, 171, 0.46);
  -webkit-box-shadow: 0px 0px 30px -4px rgba(53, 171, 171, 0.46);
  -moz-box-shadow: 0px 0px 30px -4px rgba(53, 171, 171, 0.46);
}
.lg-widget-title {
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lg-widget-button {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}
.lg-widget-table {
  width: 100%;
  border-spacing: 20px;
}
.lg-widget-tbl-header {
  text-align: left;
}
.lg-widget-user {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.lg-widget-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.lg-widget-date,.lg-widget-amount{
  font-weight: 300;
}

.lg-widget-button.Approved {
  background-color: rgb(182, 231, 208);
  color: rgb(0, 82, 51);
}
.lg-widget-button.Declined {
  background-color: rgb(241, 214, 214);
  color: rgb(147, 1, 1);
}

.lg-widget-button.Pending {
  background-color: rgb(235, 235, 195);
  color: rgb(89, 95, 0);
}
