.user-details {
  flex: 4;
  padding: 20px;
}
.user-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-add-button {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 600;
}
.user-detail-container {
  display: flex;
  margin-top: 20px;
}
.user-show {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 8px -3px rgba(40, 141, 143, 1);
  -moz-box-shadow: 0px 0px 8px -3px rgba(40, 141, 143, 1);
  box-shadow: 0px 0px 8px -3px rgba(40, 141, 143, 1);
}
.user-update {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 8px -3px rgba(40, 141, 143, 1);
  -moz-box-shadow: 0px 0px 8px -3px rgba(40, 141, 143, 1);
  box-shadow: 0px 0px 8px -3px rgba(40, 141, 143, 1);
  margin-left: 12px;
}
.user-show-top {
  display: flex;
  align-items: center;
}
.user-show-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.user-show-top-title {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.user-show-username {
  font-weight: 600;
  font-size: 18px;
}
.user-show-title {
  font-weight: 300;
  font-size: 14px;
  color: gray;
}
.user-show-bottom {
  margin-top: 20px;
}
.user-show-btm-title {
  font-size: 16px;
  font-weight: 300;
  color: rgb(128, 147, 147);
}
.user-show-info-btm {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: rgb(36, 53, 53);
}
.user-show-icon-btm {
  font-size: 16px !important;
}
.user-shw-btm-info-ttl {
  margin-left: 20px;
}

.user-updat-title {
  font-size: 24px;
  font-weight: 600;
}
.user-updat-form {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.user-updat-left-item {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.user-update-label {
  margin-bottom: 5px;
  font-size: 14px;
}
.user-update-input {
  border: none;
  width: 250px;
  height: 30px;
  border-bottom: 1px solid rgb(168, 225, 223);
}
.user-upload-image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.user-update-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user-update-upload {
  display: flex;
  align-items: center;
}
.use-update-icon-right {
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  color: teal !important;
  -moz-box-shadow: 0px 0px 8px -3px rgba(40, 141, 143, 1);
  box-shadow: 0px 0px 8px -3px rgba(40, 141, 143, 1);
  margin-left: 12px !important;
}

.user-update-btn-right {
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: goldenrod;
  color: whitesmoke;
  font-weight: 600;
}
