.user-details {
  flex: 4;
  padding: 20px;
}
.user-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-add-button {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 600;
}
.user-detail-container {
  display: flex;
}
.user-show {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 8px -3px rgba(40, 141, 143, 1);
  -moz-box-shadow: 0px 0px 8px -3px rgba(40, 141, 143, 1);
  box-shadow: 0px 0px 8px -3px rgba(40, 141, 143, 1);
}
.user-update {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 8px -3px rgba(40, 141, 143, 1);
  -moz-box-shadow: 0px 0px 8px -3px rgba(40, 141, 143, 1);
  box-shadow: 0px 0px 8px -3px rgba(40, 141, 143, 1);
}
