.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(233, 252, 252);
  position: sticky;
  top: 50px;
  box-shadow: 0px 0px 30px -4px rgba(53, 171, 171, 0.46);
  -webkit-box-shadow: 0px 0px 30px -4px rgba(53, 171, 171, 0.46);
  -moz-box-shadow: 0px 0px 30px -4px rgba(53, 171, 171, 0.46);
}
.sidebar-wrapper {
  padding: 20px;
  color: rgb(99, 105, 110);
}

.sidebar-menu {
  margin-bottom: 10px;
}

.sidebar-title {
  font-size: 13px;
  color: #9dc5c5;
}
.sidebar-list {
  padding: 5px;
  list-style: none;
}
.sidebar-list-item {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.sidebar-list-item.active,
.sidebar-list-item.hover {
  background-color: #43b1b1;
}

.sidebar-icon {
  margin-right: 5px;
  font-size: 10px !important ;
}
