.widget-small {
  flex: 1;
  box-shadow: 0px 0px 30px -4px rgba(53, 171, 171, 0.46);
  -webkit-box-shadow: 0px 0px 30px -4px rgba(53, 171, 171, 0.46);
  -moz-box-shadow: 0px 0px 30px -4px rgba(53, 171, 171, 0.46);
  padding: 20px;
  margin-right: 20px;
}
.sm-widget-title {
  font-size: 22px;
  font-weight: 600;
}
.sm-widget-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sm-widget-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.sm-widget-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}
.sm-widget-user {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.sm-widget-username {
  font-weight: 600;
}
.sm-widget-user-title {
  font-weight: 300;
}

.sm-widget-btn-eye {
  display: flex;
  width: 100px;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 4px 10px;
  background-color: #eef7f7;
  color: #555;
  cursor: pointer;
}
.sm-widget-icon {
  font: 16px !important;
  margin-right: 5px;
}
